#sidebar-menu > ul > li > a {
  text-decoration: none;
}

#sidebar-menu > ul > li > .nav-second-level > li > a {
  text-decoration: none;
}

.size-button {
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  background-color: #ffffff;
  margin-top: 10px;
  margin-right: 7px;
}

.selected {
  background-color: #3db9dc;
  color: white;
}

.deselected {
  background-color: #ffffff;
}
.text-centers {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-centerss {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-btn {
  padding: 5px 10px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
}

.quantity {
  width: 50px;
  padding: 5px;
  text-align: center;
}