<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <th:block id="home-static-resources">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{../static/css/style.css}"/>
    </th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="sidebar" th:fragment="header">
    <div class="menu">
        <img class="img logo" src="../../static/image/zyro-image.png" alt="">
        <br>
        <div class="item">
            <a class="sub-btn"><i class="fas fa-table"></i>Quản lý Sản Phẩm<i
                    class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
                <a href="/san-pham/hien-thi" class="sub-item">Sản phẩm</a>
                <a href="/mau-sac/hien-thi" class="sub-item">Màu sắc</a>
                <a href="/nha-san-xuat/hien-thi" class="sub-item">Nhà Sản Xuất</a>
                <a href="/chat-lieu/hien-thi" class="sub-item">Chất liệu</a>
                <a href="/loai-san-pham/hien-thi" class="sub-item">Loại sản phẩm</a>
                <a href="/co-ao/hien-thi" class="sub-item">Cổ áo</a>
                <a href="/kich-co/hien-thi" class="sub-item">Kích cỡ</a>
            </div>
        </div>
        <div class="item"><a href="/voucher/hien-thi"><i class="fas fa-th"></i>Voucher</a></div>
        <div class="item"><a href="/voucher/hien-thi"><i class="fas fa-th"></i>Hóa đơn</a></div>
        <div class="item"><a href="/voucher/hien-thi"><i class="fas fa-th"></i>Nhân viên</a></div>
        <div class="item"><a href="/voucher/hien-thi"><i class="fas fa-th"></i>Khách hàng</a></div>
        <div class="item"><a href="/voucher/hien-thi"><i class="fas fa-th"></i>Hình thức thanh toán</a></div>
    </div>
</div>


<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/popper.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</body>
</html>