<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:thnum="http://www.thymeleaf.org/extras/numbers">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <th:block id="home-static-resources">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{../../static/css/style.css}"/>
    </th:block>
    <style media="screen">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function showValue(value) {
            document.getElementById("rangeValue").innerHTML = value;
        }
        function showValue1(value) {
            document.getElementById("rangeValue1").innerHTML = value;

        }
    </script>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" th:insert="layout/slidebar.html :: header">
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:insert="layout/nav.html :: header">
        </nav>
        <section class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <form th:object="${search}" th:action="@{/voucher/search}"
                      class="row form-row justify-content-between">
                    <div class="col-12">
                        <h1>Voucher</h1>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Mã:</label>
                        <input type="text" class="form-control" th:field="*{ma}" name="ma">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Tên:</label>
                        <input type="text" class="form-control" th:field="*{ten}">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Mức giảm:</label>
                        <span id="rangeValue" style="text-align: center"></span>
                        <input type="range" class="form-control-range" th:field="*{mucGiam}" min="0" max="100"
                               oninput="showValue(this.value)">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Số tiền tối thiểu:</label>
                        <span id="rangeValue1" style="text-align: center"></span>
                        <input type="range" class="form-control-range" th:field="*{tien}" min="0" max="100"
                               oninput="showValue1(this.value)">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label d-block">Trạng thái:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" th:field="*{trangThai}" checked>
                            <label class="form-check-label">Đang diễn ra</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="1" th:field="*{trangThai}" checked>
                            <label class="form-check-label">Sắp diễn ra</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="0" th:field="*{trangThai}">
                            <label class="form-check-label">Kết thúc</label>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-left">
                        <div class="col-md-2">
                            <label class="form-label">Ngày bắt đầu:</label>
                            <input type="datetime-local" class="form-control" th:field="*{thoiGianBatDau}">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Ngày kết thúc:</label>
                            <input type="datetime-local" class="form-control" th:field="*{thoiGianKetThuc}">
                        </div>
                        <div class="col-md-2" style="padding-top: 30px">
                            <button type="submit" class="btn btn-primary">Lọc</button>
                        </div>
                    </div>
                </form>
                <a type="button" class="btn btn-primary add" href="/voucher/view-add"><i
                        class="material-icons" >&#xE147;</i></a>
            </div>
        </section>
        <section class="navbar-expand-lg navbar-light bg-light">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Mức giảm</th>
                    <th>Số tiền tối thiểu</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="l,index : ${list.content}">
                    <td th:text="${index.count}"></td>
                    <td th:text="${l.ma}"></td>
                    <td th:text="${l.ten}"></td>
                    <td th:text="${#numbers.formatDecimal(l.mucGiam, 0 , 'COMMA',3,'POINT').substring(0, #numbers.formatDecimal(l.mucGiam, 0 , 'COMMA',3,'POINT').length()-4)} + ' đ'"></td>
                    <td th:text="${#numbers.formatDecimal(l.tien, 0, 'COMMA', 3, 'POINT').substring(0, #numbers.formatDecimal(l.tien, 0, 'COMMA', 3, 'POINT').length() - 4)} + ' đ'"></td>
                    <td th:text="${#dates.format(l.thoiGianBatDau, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${#dates.format(l.thoiGianKetThuc, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${l.moTa}"></td>
                    <td th:text="${l.trangThai == 1 ? 'Đang diễn ra' : ( l.trangThai==2 ? 'Sắp diễn ra' : 'Kết thúc')}"></td>
                    <td>
                        <a th:href="@{view-update/{id}(id=${l.id})}"><i
                                class="material-icons update"
                                data-toggle="tooltip"
                                title="Edit">&#xE254;</i></a>
                        <a th:href="@{delete/{id}(id=${l.id})}"><i
                                class="material-icons remove"
                                data-toggle="tooltip"
                                title="Delete"
                                onclick="return confirm('Bạn có muốn xoá không?')">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="flex">
                <ul class="pagination">
                    <!--                    <li class="page-item" th:classappend="${list.number == 0} ? disabled">-->
                    <!--                        <a class="page-link" th:href="@{/vouchers(page=0, size=${list.size})}">First</a>-->
                    <!--                    </li>-->
                    <li class="page-item" th:classappend="${list.number == 0} ? disabled">
                        <a class="page-link" th:href="@{/voucher/hien-thi(page=${list.number - 1})}">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, list.totalPages - 1)}">
                        <a class="page-link" th:href="@{/voucher/hien-thi(page=${pageNumber})}"
                           th:text="${pageNumber + 1}" th:classappend="${pageNumber == list.number} ? active">
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${list.number == list.totalPages - 1} ? disabled">
                        <a class="page-link" th:href="@{/voucher/hien-thi(page=${list.number + 1})}">
                            Next
                        </a>
                    </li>
                    <!--                    <li class="page-item" th:classappend="${list.number == list.totalPages - 1} ? disabled"><a-->
                    <!--                            class="page-link" th:href="@{/vouchers(page=${list.totalPages - 1}, size=${list.size})}">Last</a>-->
                    <!--                    </li>-->
                </ul>
            </nav>
        </section>
    </div>
</div>

<!--<img src="../../static/images/logo.jpg" alt="">-->
<script th:if="${successMessage}" th:inline="javascript">
    /*<![CDATA[*/
    window.addEventListener('DOMContentLoaded', function() {
        var successMessage = /*[[${successMessage}]]*/ '';
        if (successMessage) {
            swal({
                title: "Good job!",
                text: successMessage,
                icon: "success",
                button: "OK",
            });
        }
    });
    /*]]>*/
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../../static/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../static/js/popper.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</body>
</html>