<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <th:block id="home-static-resources">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{../../static/css/style.css}"/>
    </th:block>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"
               style="background-image: url(../../static/images/logo.jpg);"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#">Chi tiết sản phẩm</a>
                </li>
                <li>
                    <a href="#">Voucher</a>
                </li>
                <li>
                    <a href="#">Hoá đơn</a>
                </li>
                <li>
                    <a href="#">Nhân viên</a>
                </li>
                <li>
                    <a href="#">Khách hàng</a>
                </li>
                <li>
                    <a href="#">Hình thức thanh toán</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row">
                <div class="col-12">
                    <h1 style="padding-left: 40px">Voucher</h1>
                </div>
                <form class="row g-3" method="post" th:action="@{/voucher/update(id=${voucher.id})}" th:object="${voucher}">
                    <span th:hidden="*{id}"></span>
                    <div class="col-md-6">
                        <label class="form-label">Mã</label>
                        <input type="text" class="form-control" th:field="*{ma}">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Tên</label>
                        <input type="text" class="form-control" th:field="*{ten}">
                    </div>
                    <div class="col-6">
                        <label class="form-label">Mức giảm</label>
                        <input type="text" class="form-control" th:field="*{mucGiam}">
                    </div>
                    <div class="col-6">
                        <label class="form-label">Số tiền tối thiểu</label>
                        <input type="text" class="form-control" th:field="*{tien}">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Thời gian bắt đầu</label>
                        <input type="date" class="form-control" th:field="*{thoiGianBatDau}">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Thời gian kết thúc</label>
                        <input type="date" class="form-control" th:field="*{thoiGianKetThuc}">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Mô tả</label>
                        <input type="text" class="form-control" th:field="*{moTa}">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Trạng thái</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioDefault1" th:field="*{trangThai}" th:value="1" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Hoạt động
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="flexRadioDefault2" th:field="*{trangThai}" th:value="0">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Không hoạt động
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/popper.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
</body>
</html>