<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <th:block id="home-static-resources">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{../../static/css/style.css}"/>
    </th:block>
    <style media="screen">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" th:insert="layout/slidebar.html :: header">
    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:insert="layout/nav.html :: header">
        </nav>
        <section class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row">
                <div class="col-12">
                    <h1 style="padding-left: 40px">Update Sản Phẩm</h1>
                    <br>
                </div>
                <div class="col-2">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Mã: </label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tên: </label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row mb-3">
                        <label class="col-sm-5 col-form-label">Trạng thái: </label>
                        <div class="col-sm-6">
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row mb-3">
                        <label class="col-sm-5 col-form-label">Ngày bắt đầu: </label>
                        <div class="col-sm-6">
                            <input type="date" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row mb-3">
                        <label class="col-sm-5 col-form-label">Ngày kết thúc: </label>
                        <div class="col-sm-6">
                            <input type="date" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Lọc</button>
                </div>
                <div class="col-12">
                    <form th:action="@{/chi-tiet-san-pham/update(id=${att.id})}" th:object="${att}" method="post">
                        <div class="mb-3">
                            <label class="form-label"  >Tên</label>
                            <input type="text" class="form-control" th:field="*{sanPham.ten}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"  >Mô tả</label>
                            <input type="text" class="form-control" th:field="*{sanPham.moTa}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"  >Giá</label>
                            <input type="text" class="form-control" th:field="*{giaBan}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"  >Số lượng</label>
                            <input type="text" class="form-control" th:field="*{soLuong}" />
                        </div>
                        <div class="md-3 d-flex justify-content-around" style="margin-bottom: 10px">
                            <div class="md-4">
                                <label  class="form-label" style="color: black">Chất
                                    liệu
                                </label>
                                <select class="form-select" th:field="*{chatLieu}">
                                    <option th:each="chatLieu : ${listChatLieu}" th:value="${chatLieu.id}" th:text="${chatLieu.ten}"></option>
                                </select>
                            </div>
                            <div class="md-4">
                                <label  class="form-label" style="color: black">Loại
                                    Sản Phẩm
                                </label>
                                <select class="form-select" th:field="*{loaiSanPham}">
                                    <option th:each="loaiSanPham : ${listLoaiSanPham}" th:value="${loaiSanPham.id}" th:text="${loaiSanPham.ten}"></option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<!--<img src="../../static/images/logo.jpg" alt="">-->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/popper.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</body>
</html>